header nav a:first-child {
  color: white;
}

header nav a:nth-child(2) {
  color: #09FF00;
}

header nav a:hover {
  color: #09FF00;
}

    #textoarcoiris{

        animation: rainbow 3.5s infinite;
    }

    @keyframes rainbow {
        0%   {color: rgb(255, 0, 0);}
        10%  {color: rgb(251, 255, 0);}
        20%  {color: rgb(0, 4, 255);}
        30%  {color: rgb(4, 170, 68);}
        40% {color: rgb(238, 63, 159);}
        50%   {color: rgb(30, 255, 0);}
        60%  {color: rgb(0, 0, 0);}
        70%  {color: white;}
        80%  {color: rgb(151, 62, 3);}
        90% {color: rgb(119, 116, 116);}
        100% {color: rgb(151, 0, 252);}


    }