@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #212121;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.logo {
  display: flex;
}

.logo img {
  width: 20px;
  height: 20px;
}

.logo h1 {
  font-size: 35px;
}

header nav {
  display: flex;
  gap: 70px;
}

header nav a {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

header nav a:first-child {
  color: #09FF00;
}

header nav a:hover {
  color: #09FF00;
}

.icones-header {
  display: flex;
  gap: 30px;
}

.cor-verde {
  color: #09FF00;
}

.cor-azul {
  color: #0073FF;
}

.cor-vermelha {
  color: #FF0000;
}

.cor-laranja {
  color: #FF5100;
}

#botao-saiba-mais {
  background-color: #FF5100;
  color: white;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
}

footer {
  background-color: #0073FF;
}